@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}


/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
